@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Slab:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
}

.landing{
    background-color: #21272f;
    color: white;
    padding: 30px;
}

.navbar{
    padding: 0px 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    position: relative;
    height: 115px;
    transition: height .2s ease-in;
}

.logo{
    text-align: start;
}

ul{    
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 0;
    transition: display 3s;
    transition-delay:.3s;
}

nav ul li:hover{
    color: #00bd95;
}

.layer{
    font-size: 1.5rem;
    color: #00bd95;
    margin-right: 20px;
}

label{
    font-size: 1.5rem;
    margin-left: 4px;
}

/* search-form */
.search-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    padding: 8px 0px;
    border: 1px solid #00bd95;
}

.search-icon::after{
    content: '';
    border-left: 4px solid #00bd95;
    margin-left: 10px;
}

.search-input{
    background:none;
    border: none;
    outline: none;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.search-input:focus{
    border: none;
}

.search-btn{
    background-color: #00bd95;
    border: none;
    padding: 5px 10px;
}

#ham{
    display: none;
    position: absolute;
    right: 0px;
    font-size: 28px;
    top: 3px;
}

.hidden{
    display: inline-flex;
    transition: display 1s ease-in;
    transition-delay: 2s;
}

.main{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.info{
    padding: 30px;
    width: 30%;
    flex-grow: 1;
}

.info span{
    color: #00bd95;
    font-size: 2.5rem;
    font-weight: bold;
}

.info p{
    font-size: 1.2rem;
}

.info button{
    padding: 15px 15px;
    background-color: #00bd95;
    color: black;
    border: none;
    border-radius: 8px;
}

.programmer-image{
    margin: auto;
    padding: 30px;
}

.programmer-image img{
    width: 100%;
}

.all-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.d-flex i{
    font-size: 2rem;
    color: #00bd95;
}

@media screen and (max-width: 870px){
    nav{
        display: block;
        text-align: center;
    }
    ul{
        width: 100%;
    }
    .search-form{
        margin: auto;
        width: 400px;
    }
    #ham{
        display: inline;
    }
    .hidden{
        display: none;
    }
    .trans{
        height: 30px;
    }
    .main{
        margin-top: 40px;
    }
    .info{
        padding: 20px 0px;
    }
    .programmer-image{
        padding: 30px;
        margin: auto;
    }
    .d-flex{
        width: 50%;
    }
}

@media screen and (max-width: 470px){
    .landing{
        padding: 30px 10px;
    }
    nav{
        display: block;
        text-align: center;
    }
    ul{
        justify-content: space-between;
    }
    .search-form{
        margin: auto;
        width: 250px;
    }
    .info{
        padding: 5px;
    }
    .programmer-image{
        padding: 0px;   
    }
}