@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Slab:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --primary-color: #00bd95;
    --secondary-color: #fff;
    --primary-bg-color: #21272f;
    --secondary-bg-color: #171c23;
    --primary-font-family: 'Roboto Slab', serif
}

/* width */
.w-100 {
    width: 100%;
}

/* Padding */
.p-30 {
    padding: 30px;
}

.p-lr {
    padding: 0px 30px;
}

.p-tb {
    padding: 30px 0px;
}

/* flex */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* span */
span {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
}

.landing {
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    margin: 0px;
}

nav {
    font-family: var(--primary-font-family);
    font-weight: bold;
    position: relative;
    height: 115px;
    transition: height .2s ease-in;
}

.logo {
    text-align: start;
}

ul {
    justify-content: space-evenly !important;
    width: 50%;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 0;
    transition: display 3s;
    transition-delay: .3s;
}

nav ul li:hover {
    color: var(--primary-color);
}

.layer {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.logo label {
    font-size: 1.5rem;
    margin-left: 4px;
}

/* search-form */
.search-form {
    justify-content: space-evenly;
    width: 250px;
    padding: 8px 0px;
    border: 1px solid var(--primary-color);
}

.search-icon::after {
    content: '';
    border-left: 4px solid var(--primary-color);
    margin-left: 10px;
}

.search-input {
    background: none;
    border: none;
    outline: none;
    color: var(--secondary-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.search-input:focus {
    border: none;
}

.search-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 5px 10px;
}

#ham {
    display: none;
    position: absolute;
    right: 0px;
    font-size: 28px;
    top: 3px;
}

.hidden {
    display: inline-flex;
    transition: display 1s ease-in;
    transition-delay: 2s;
}

.main {
    font-family: var(--primary-font-family);
    flex-wrap: wrap;

}

.info {
    width: 30%;
    flex-grow: 1;
}

.info p {
    font-size: 1.2rem;
}

.info button {
    padding: 15px 15px;
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 8px;
}

.programmer-image {
    margin: auto;
}

.all-links {
    margin-top: 20px;
}

.icons {
    width: 50%;
}

.icons i {
    font-size: 2rem;
    color: var(--primary-color);
}

/* Skills-css */
.skills {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    padding-bottom: 65px;
    overflow: hidden;
    height: 700px;
    display: flex;
    flex-direction: column;
}


.skills ul {
    /* background-color: #76767747; */
    border-radius: 50%;
    margin: auto;
    position: relative;
    transform: rotate(0deg);
    transition: transform .3s ease-in;
    width: 550px;
    height: 500px;
}

.skills ul>* {
    position: absolute;
    display: inline;
}

.skills ul li i {
    font-size: 4rem;
}

.skills .item {
    background-color: #00bd95;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills ul {
    width: 380px;
    height: 380px;
    border-radius: 0px;
    margin-top: 80px;
}

.skills #item1 {
    left: 34%;
    top: -4%;
}

.skills #item2 {
    top: 36%;
    right: -4%;
}

.skills #item3 {
    top: 79%;
    left: 34%;
}

.skills #item4 {
    top: 36%;
    left: -10%;
}

.skills #item5 {
    top: 79%;
    left: 78%;
}

.skills #item6 {
    top: 79%;
    left: -11%;
}

.skills #item7 {
    top: -4%;
    left: 78%;
}

.skills #item8 {
    top: -4%;
    left: -10%;
}

.skills #item9 {
    top: 36%;
    left: 34%;
}

/* Services-css */

.services {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    display: flex;
}

.service-label {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.container {
    color: var(--secondary-color);
    flex-wrap: wrap;
}

.container-item {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    flex-grow: 1;
}

.container-item span {
    font-size: 6rem;
}

@media screen and (max-width: 885px) {

    /* Landing page-css */
    .navbar {
        padding: 0px;
    }

    nav {
        display: block !important;
        text-align: center;
    }

    ul {
        width: 100%;
    }

    .search-form {
        margin: auto;
        width: 400px;
    }

    #ham {
        display: inline;
    }

    .hidden {
        display: none;
    }

    .trans {
        height: 30px;
    }

    .main {
        margin-top: 40px;
    }

    .info {
        padding: 20px 0px;
    }

    .programmer-image {
        padding: 30px;
        margin: auto;
    }

}

@media screen and (max-width: 505px) {
    .skills{
        height: auto;
    }
    
    .skills ul {
        width: 184px;
        height: 135px;
        border-radius: 0px;
    }

    .skills #item2 {
        top: 36%;
        right: -8%;
    }

    .skills .item {
        width: 50px;
        height: 50px;
    }

    .skills ul li i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 470px) {

    /* lading page */
    .landing {
        padding: 30px 10px;
    }

    nav {
        display: block;
        text-align: center;
    }

    ul {
        justify-content: space-between;
    }

    .search-form {
        margin: auto;
        width: 250px;
    }

    .info {
        padding: 5px;
    }

    .programmer-image {
        padding: 0px;
    }

    .heading {
        padding: 10px;
    }

    .heading {
        width: auto;
    }

    .container {
        padding: 10px;
    }
}